@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

:root {
  --crl-primary-100: hsl(42.12, 90.43%, 54.9%);

  --crl-neutral-100: hsl(0, 0%, 100%);
  --crl-neutral-200: hsl(0, 0%, 85%);
  --crl-neutral-250: hsl(0, 0%, 75%);
  --crl-neutral-300: hsl(0, 0%, 50%);
  --crl-neutral-900: hsl(0, 0%, 0%);

  --fs-100: 0.6rem;
  --fs-200: 0.7rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.35rem;
  --fs-600: 2rem;
  --fs-700: 3rem;
  --fs-800: 4rem;
  --fs-900: 5rem;
  --fs-1000: 6rem;
  --fs-1100: 7rem;

  --ff-primary: "Play", "pretendard", sans-serif;

  --fw-bold: 600;
  --fw-regular: 400;

  --size-100: 0.5rem;
  --size-200: 0.65rem;
  --size-300: 1.2rem;
  --size-400: 2rem;
  --size-500: 3rem;
  --size-600: 4rem;
  --size-700: 5rem;
  --size-800: 6rem;
  --size-900: 7rem;
  --size-1000: 10rem;
}

/* reset css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general style */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  line-height: 1.5;
  letter-spacing: -0.5px;
}

/* primary-header */
.header-wrapper {
  display: flex;
}
.logo {
  flex-shrink: 0;
  margin-right: var(--size-400);
  padding-block: var(--size-400);
}
.logo img {
  width: min(110px, 13vw);
}
.primary-header {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  color: var(--crl-neutral-100);
}
.primary-header[aria-expanded] {
  position: relative;
  display: block;
  background: var(--crl-neutral-900);
  color: var(--crl-neutral-100);
  height: 100vh;
  width: 100%;
  animation: showToLeft 0.4s ease-in;
  transform-origin: right;
}

@keyframes showToLeft {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] {
    background: var(--crl-neutral-100);
    color: var(--crl-neutral-900);
  }
}

.primary-header[aria-expanded] .header-wrapper {
  display: block;
}
.primary-header[aria-expanded] .container {
  --max-width: 1300px;
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .container {
    --padding: 0;
  }
}
.primary-header[aria-expanded] :where(.logo, .lang-list) {
  display: none;
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .logo {
    display: block;
  }
}
.nav-toggle-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-toggle-title,
.nav-toggle-close {
  display: none;
}
.primary-header[aria-expanded] .nav-toggle-close {
  display: block;
  width: 35px;
  aspect-ratio: 1;
}

.primary-header[aria-expanded] .nav-toggle-title {
  display: block;
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .nav-toggle-title {
    display: none;
  }
  .primary-header[aria-expanded] .nav-toggle-close {
    margin-left: auto;
  }
}
.nav-list {
  font-size: var(--fs-300);
}
.nav-list > li > a {
  display: block;
  padding: var(--size-400) var(--size-400);
}
.primary-header[aria-expanded] .nav-list > * {
  flex-grow: 1;
  flex-basis: 16.66666666666667%;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  text-align: left;
  word-break: keep-all;
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .nav-list > * {
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
  }
}
.primary-header[aria-expanded] .nav-list > li {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: var(--size-300);
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .nav-list > li {
    border-right: none;
    border-top: 1px solid var(--crl-neutral-200);
    padding-left: 0;
    position: relative;
  }
  .primary-header[aria-expanded] .nav-list > li > a {
    width: 100%;
  }
  .primary-header[aria-expanded] .nav-list > li::after {
    content: "" url(images/icon-down.png);
    position: absolute;
    right: var(--size-300);
    top: 15px;
  }
  .primary-header[aria-expanded] .nav-list > li[data-visible]::after {
    content: "" url(images/icon-down-colored.png);
  }
  .primary-header[aria-expanded] .nav-list > li:last-child {
    border-bottom: 1px solid var(--crl-neutral-200);
  }
}
.primary-header[aria-expanded] .nav-list > li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.primary-header[aria-expanded] .nav-list > li > a {
  padding: var(--size-500) var(--size-300) var(--size-500) 0;
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] :is(.nav-list > li > a, .sub-list > li > a) {
    padding: var(--size-200) var(--size-300) var(--size-200) var(--size-300);
  }
}
.primary-header[aria-expanded] .sub-list > li > a {
  display: block;
  padding-block: var(--size-200);
}

@media (max-width: 57em) {
  .primary-navigation .nav-list {
    display: none;
  }
  .primary-header[aria-expanded] .nav-list {
    display: block;
  }
}
.sub-list {
  display: none;
}

.primary-header[aria-expanded] .sub-list {
  display: block;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .sub-list {
    display: none;
    background: var(--crl-neutral-200);
    font-size: var(--fs-100);
    color: var(--crl-neutral-300);
    animation: moveToBottom 0.5s ease-out;
    transform-origin: top;
  }

  .primary-header[aria-expanded] .nav-list > li[data-visible] {
    color: var(--crl-primary-100);
  }
  .primary-header[aria-expanded] .nav-list > li[data-visible] .sub-list {
    display: block;
  }
}
.lang-list {
  display: flex;
  margin-left: auto;
}
.primary-header[aria-expanded] .lang-list {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  justify-content: center;
}

.lang-list > li > a {
  padding-inline: var(--size-100);
}
.lang-list > li {
  display: flex;
  align-items: center;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}
.primary-header .lang-list > li:nth-child(2) {
  color: var(--crl-neutral-250);
}
@media (max-width: 50em) {
  .primary-header[aria-expanded] .lang-list {
    display: flex;
  }
  .primary-header[aria-expanded] .lang-list > li:last-child {
    display: none;
  }
  .primary-header[aria-expanded] .lang-list > li:first-child {
    border-right: 1px solid var(--crl-neutral-200);
  }
  .primary-header[aria-expanded] .lang-list > li:nth-child(2) {
    color: var(--crl-neutral-300);
    font-weight: var(--fw-regular);
  }
}
.icon-hamburger {
  width: 35px;
  aspect-ratio: 1;
}

.primary-header[data-hover] {
  position: relative;
  background: var(--crl-neutral-100);
  color: black;
}
.primary-header[data-hover] .primary-navigation::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 13rem;
  width: 100%;
  background-color: var(--crl-neutral-100);
  transform-origin: top;
  animation: moveToBottom 1s;
  align-items: center;
}
.primary-header[data-hover] .sub-list a {
  display: block;
  text-align: left;
  width: 100%;
  padding-block: var(--size-300);
  border-bottom: 1px solid var(--crl-neutral-300);
  color: var(--crl-neutral-300);
  font-size: var(--fs-200);
}
.primary-header[data-hover] .sub-list li {
  position: relative;
}
.primary-header[data-hover] .sub-list li::after {
  content: "" url(images/icon-right.png);
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translatey(-50%);
}
.primary-header[data-hover] .nav-list > li:hover > .sub-list {
  position: absolute;
  display: flex;
  gap: var(--size-200);
  flex-wrap: wrap;
  width: 70%;
  height: 13rem;
  top: 80%;
  left: 0;
  right: 0;
  z-index: 10;
  padding-left: var(--size-1000);
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.primary-header[data-hover] .sub-list > * {
  flex-basis: 10rem;
}
.primary-header[data-hover] .icon-hamburger {
  --hamburger-color: black;
}

/* carousel */
.carousel {
  overflow: hidden;
}
.slide-list {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.slide-item {
  position: absolute;
  opacity: 0;
  left: 0;
  z-index: -10;
  transition: 1s;
  height: 100%;
  width: 100%;
}
.slide-text-wrapper {
  position: absolute;
  top: 38%;
  left: 5%;
}
.slide-title {
  word-break: keep-all;
  font-size: max(3.5vw, var(--fs-600));
  width: 23ch;
  font-weight: var(--fw-bold);
}
@media (max-width: 50em) {
  .slide-title {
    width: 15ch;
  }
  .slide-text-wrapper {
    position: absolute;
    top: 15%;
    left: 5%;
  }
  .slide-body {
    width: 50ch;
    word-break: keep-all;
  }
}
.slide-item img {
  scale: 1.05;
  height: 100vh;
  width: 100%;
}
.slide-control {
  display: flex;
  gap: var(--size-400);
}
.slide-control button {
  background: transparent;
  border: 0;
  color: var(--crl-neutral-200);
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}
.showing {
  opacity: 1;
  color: var(--crl-neutral-100) !important;
}
.showing img {
  scale: 1;
  transform-origin: center;
  transition: 5s;
  object-fit: cover;
}
.pagenation.showing::after {
  content: "";
  position: relative;
  top: -3px;
  left: 20px;
  width: 35px;
  height: 2px;
  background: var(--crl-neutral-200);
  display: inline-block;
  animation: loading 10s;
}
@keyframes loading {
  0% {
    background: var(--crl-neutral-200);
  }
  100% {
    background: var(--crl-primary-100);
  }
}
.slide-control {
  position: relative;
  top: -100px;
  left: 5%;
  width: fit-content;
}

/* menu-list */
.tab-menu {
  position: relative;
  overflow: hidden;
}
.menu-list {
  height: 100vh;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 35vw;
  grid-auto-flow: row;
  justify-content: end;
}
@media (max-width: 30em) {
  .menu-list {
    display: none;
  }
}

.menu-item {
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.315);
  border-bottom: 1px solid rgba(255, 255, 255, 0.315);
  display: flex;
  background: rgba(0, 0, 0, 0.26);
  /* justify-content: space-between; */
  gap: var(--size-200);
  align-items: center;
  height: 100%;
  padding-inline: var(--size-400);
  transition: 0.4s;
}
@media (max-width: 60em) {
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
  }
}
.menu-item.showing {
  background: var(--crl-primary-100);
  margin-left: -2rem;
  box-sizing: initial;
  z-index: 10;
}
.menu-item.showing .menu-body {
  color: var(--crl-neutral-100);
}
.menu-title::after {
  content: "\2192";
  font-size: 20px;
  position: absolute;
  right: 5%;
  color: var(--crl-neutral-200);
}
.menu-item.showing .menu-title::after {
  content: "" url(images/icon-plus.png);
}
.menu-title {
  font-size: max(1.3vw, var(--fs-200));
  font-weight: var(--fw-bold);
  color: var(--crl-neutral-100);
}

.menu-body {
  position: relative;
  top: 2px;
  font-size: max(0.4vw, var(--fs-100));
  color: var(--crl-primary-100);
  opacity: 0.8;
}
@media (max-width: 60em) {
  .menu-title {
    font-size: max(2vw, var(--fs-300));
  }
}
/* tab-menu display */
.tab-menu {
  width: 100%;
}
.display-item {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -2;
  transition: 0.4s;
  height: 100%;
}
.display-item.showing {
  opacity: 1;
}
.display-image {
  scale: 1.05;
  object-fit: cover;
  height: 100vh;
}
@media (max-width: 30em) {
  .display-image {
    scale: 1.05;
    object-fit: cover;
    height: auto;
    aspect-ratio: 1;
  }
}
.display-item.showing {
  width: 100%;
}
.display-item.showing .display-image {
  scale: 1;
}
.display-text-wrapper {
  position: absolute;
  top: 63%;
  left: 8%;
}

.display-subtitle {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--crl-primary-100);
}
.display-title {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  margin-block: var(--size-100);
}
.display-body {
  font-size: var(--fs-200);
  color: hsl(0, 0%, 75%);
}
@media (max-width: 30em) {
  .display-text-wrapper {
    background: var(--crl-primary-100);
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translatex(-50%);
    width: 90%;
    padding: 2em 1.5em 7em;
  }
  .display-subtitle {
    color: var(--crl-neutral-100);
    opacity: 0.7;
    font-size: 4vw;
  }
  .display-title {
    font-size: 6vw;
  }
  .display-body {
    font-size: 3vw;
    color: var(--crl-neutral-100);
    opacity: 0.7;
  }
}
.display-control {
  display: none;
}
@media (max-width: 30em) {
  .display-control {
    position: absolute;
    display: flex;
    gap: var(--size-400);
    left: 78%;
    top: 73%;
  }
}
#fp-nav.fp-right {
  left: 1%;
}
/* cta */
.cta {
  height: 100vh;
}
/* news */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-400);
  margin-top: -3rem;
  margin-left: -1rem;
}
.news-title {
  color: var(--crl-primary-100);
  font-size: max(3.3vw, var(--fs-500));
  font-weight: var(--fw-bold);
  line-height: 1;
}
.news-body {
  color: var(--crl-neutral-300);
  font-size: max(1vw, var(--fs-200));
}
.news-link {
  font-size: max(1.05vw, var(--fs-200));
  font-weight: var(--fw-bold);
}
.news-link:hover .icon-plus {
  --plus-color: var(--crl-primary-100);
  scale: 1.5;
}
.icon-plus {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 14px;
  aspect-ratio: 1;
  margin-left: 5px;
  transition: 0.5s;
  transform-origin: center;
}
.news-link:last-child {
  margin-top: -1.5rem;
}

/* article */
.news-section {
  height: 100vh;
  overflow: hidden;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  height: 100vh;
}
.article-item {
  flex-basis: 33.3%;
  flex-grow: 1;
  width: 51%;
  padding-inline: var(--size-400);
  transition: 0.4s;
}

.article-item:not([data-accent]):hover {
  margin-left: -0.9rem;
}
.article-item:is(:nth-child(1), :nth-child(2), :nth-child(3)) {
  border-left: 1px solid rgba(0, 0, 0, 0.075);
}

.article .article-item[data-accent] {
  background: var(--crl-primary-100);
  color: var(--crl-neutral-100);
  margin-left: -1rem;
}
.article .article-item[data-accent] .article-body {
  color: var(--crl-neutral-100);
}

.article-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article-body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  font-size: max(0.85vw, var(--fs-100));
  color: var(--crl-neutral-300);
  margin-top: 10px;
}
.article-title {
  font-weight: var(--fw-bold);
  font-size: max(1.5vw, var(--fs-400));
}
.article-date {
  font-size: max(0.65vw, 0.6rem);
}
.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-300);
  height: 100%;
  transition: 0.4s;
}
.article-item:first-child > .article-wrapper {
  justify-content: flex-end;
}
.article-item:nth-child(4) .article-wrapper {
  justify-content: flex-end;
}
.article-item:nth-child(5) .article-wrapper {
  justify-content: flex-start;
  margin-top: var(--size-400);
}
.article-item:is(:nth-child(4), :nth-child(5)) {
  border-left: 1px solid rgba(0, 0, 0, 0.075);
}
.article-item .article-wrapper::after {
  content: "" url(images/icon-plus--black.png);
  align-self: end;
  position: relative;
  opacity: 0;
  transition: 0.3s;
  position: relative;
  top: -15px;
}
.article-item[data-accent] .article-wrapper::after {
  content: "" url(images/icon-plus.png);
  opacity: 1;
  scale: 1.2;
  position: relative;
  top: -15px;
}
.article-item:hover .article-wrapper::after {
  opacity: 1;
}

.article-date[data-icon="camera"]::after {
  content: "" url(images/icon-camera.png);
  position: relative;
  left: 20px;
  top: 1px;
}
.article-image {
  width: 80px;
  aspect-ratio: 1.8/1;
}
/* cta */
.cta .even-columns {
  grid-template-rows: 1fr 1fr;
}
.cta-image {
  transform-origin: center;
  transition: 0.4s;
  object-fit: cover;
  height: 100%;
}
.cta-item:hover > .cta-image {
  scale: 1.1;
}
.cta-item:hover .cta-icon {
  scale: 1.4;
}
.cta-item {
  position: relative;
  overflow: hidden;
}
.recruitment {
  grid-row: 1/-1;
  height: 100%;
  overflow: hidden;
}
.esg {
  grid-row: 1/2;
  font-size: max(3vw, var(--fs-400));
}
.inquiry {
  grid-row: 2/-1;
  font-size: max(3vw, var(--fs-400));
}
.cta-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-inline: var(--size-900);
}
.recruitment .cta-text-wrapper {
  justify-content: flex-start;
  gap: var(--size-200);
  margin-top: 10.7rem;
}
.esg .cta-text-wrapper,
.inquiry .cta-text-wrapper {
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  margin-top: 5rem;
}
.cta-sub-title {
  font-size: max(3vw, var(--fs-400));
  color: var(--crl-primary-100);
  font-weight: var(--fw-bold);
  line-height: 1;
}
.inquiry .cta-title {
  font-size: max(3vw, var(--fs-400));
}
.esg .cta-title {
  font-size: max(3vw, var(--fs-400));
}
.cta-title {
  font-size: max(2vw, var(--fs-400));
  color: var(--crl-neutral-100);
  font-weight: var(--fw-bold);
}
.cta-body {
  font-size: max(0.9vw, var(--fs-300));
  color: var(--crl-neutral-100);
  opacity: 0.6;
}
.cta-link {
  font-size: max(0.9vw, var(--fs-300));
  color: var(--crl-neutral-100);
  opacity: 0.6;
  margin-top: var(--size-800);
}
.recruitment .cta-icon {
  margin-left: var(--size-300);
  position: relative;
  top: 3px;
}
.cta-icon {
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  margin-top: var(--size-200);
  transition: 0.4s;
}
/* utility */
.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
[data-scroll-locked] {
  height: 100vh;
  overflow-y: hidden;
}
.align-items-center {
  align-items: center;
}
.even-columns {
  display: grid;
  grid-template-columns: var(--left-column, 1fr) var(--right-column, 1fr);
}
.container {
  --max-width: 1450px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
.flex {
  display: flex;
}
.flow > *:not(:first-child) {
  margin-top: var(--flow-spacer, 1rem);
}
.overflow-hidden {
  overflow: hidden;
}
.space-between {
  justify-content: space-between;
}

@keyframes moveToBottom {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
